# Edit and rename this file to .env

VOLDIR=/home/user/Zoneminder
HOST_IP=192.168.1.10
SUBNET=192.168.2.0/24
GATEWAY=192.168.2.1
TRFK_IP=192.168.2.2
ZMDB_IP=192.168.2.3
ZM_IP=192.168.2.4
PUID=999
PGID=999
TZ=Europe/Paris
ZM_FQDN=myzoneminder.domain.fr
ES_FQDN=zmes.domain.fr
