# Edit and rename this file to .env

ZM_VOL=/opt/Zoneminder
LETSENCRYPT_VOL=/opt/Letsencrypt
MARIADB_USER=zmuser
MARIADB_PASSWORD=zmpass
MARIADB_DATABASE=zm
TZ=Europe/Paris
ZM_FQDN=myzoneminder.domain.fr
ES_FQDN=zmes.domain.fr
INSTALL_YOLOV3=no
INSTALL_TINYYOLOV3=no
INSTALL_YOLOV4=yes
INSTALL_TINYYOLOV4=no
INSTALL_CORAL_EDGETPU=no