# Edit and rename this file to .env
# email is required for Traefik & Letsencrypt certificate

VOLDIR=/home/user/Zoneminder
HOST_IP=192.168.1.10
SUBNET=192.168.2.0/24
GATEWAY=192.168.2.1
TRFK_IP=192.168.2.2
ZMDB_IP=192.168.2.3
ZM_IP=192.168.2.4
MARIADB_USER=zmuser
MARIADB_PASSWORD=zmpass
MARIADB_DATABASE=zm
TZ=Europe/Paris
ZM_FQDN=myzoneminder.domain.fr
ES_FQDN=zmes.domain.fr
EMAIL=myname@domain.fr
INSTALL_YOLOV3=no
INSTALL_TINYYOLOV3=no
INSTALL_YOLOV4=yes
INSTALL_TINYYOLOV4=no
INSTALL_CORAL_EDGETPU=no