opencv-contrib-python==4.8.1.78
imutils==0.5.4
pyzm==0.3.56
numpy==1.24.2
requests==2.32.0
shapely==2.0.1
scikit-learn==1.5.0
future==0.18.3
imageio==2.25.1
imageio-ffmpeg==0.4.8
pygifsicle==1.1.0
Pillow==10.3.0