[global]
  sendAnonymousUsage = false
  checkNewVersion = false

[api]
  dashboard = false
  debug = false
  insecure = false

[log]
  level = "INFO"
  filePath = "/log/traefik.log"
  format = "common"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false

  [providers.file]
    directory = "/etc/traefik/dynamic"
    watch = true

[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.websecure]
    address = ":443"
  
  [entryPoints.zmevent]
    address = ":9000"

[certificatesResolvers.mytlschallenge.acme]
    email = "name@email.com"
    #caserver = "https://acme-staging-v02.api.letsencrypt.org/directory"
    caserver = "https://acme-v02.api.letsencrypt.org/directory"
    storage = "/letsencrypt/acme.json"
    [certificatesResolvers.mytlschallenge.acme.tlsChallenge]
